@import '../App.css';

.about {
    padding-top: 5em;
    padding-bottom: 13em;
    background-color: var(--primary-green);
}

.about-elements {
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
}

.about-column {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.about-column p {
    text-align: justify;
}

.about-column section {
    max-width: 35cqi;
}

.img-stack {
    display: flex;
    flex: 1;
    justify-content: center;
}

.img-stack img {
    max-width: 22em;
}

.img-stack img:first-child {
    margin-bottom: -3em;
}

.img-stack img:last-child {
    z-index: 1;
    margin-top: -3em;
    margin-left: -5em;
}

/* Media queries */
/* Extra small screens (<= 600px) */
@media (max-width: 600px) {
    .about-elements {
        flex-flow: column;
        row-gap: 5em;
    }

    .about-column section {
        max-width: fit-content;
    }

    .img-stack img {
        max-width: 59%;
    }

    .about {
        padding-bottom: 8em;
    }
}