.about {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: var(--primary-green);
}

.about-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5em;
}

.about-column {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.about-column p {
    text-align: justify;
}

.about-column section {
    max-width: fit-content;
}

.img-stack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-stack img {
    max-width: 50%;
}

.img-stack img:first-child {
    margin-bottom: -3em;
}

.img-stack img:last-child {
    z-index: 1;
    margin-top: -3em;
    margin-left: -5em;
}

/* Media queries */
/* Large screens (> 992px) */
@media (min-width: 992px) {
    .about-elements {
        flex-direction: row;
    }

    .about-column section {
        max-width: 30em;
    }

    .img-stack {
        margin-right: -2.5em;
    }

    .img-stack img {
        height: 22em;
    }
}