.booking {
    padding-top: 8em;
    padding-bottom: 10em;
    background-color: var(--secondary-peach);
}

.confirm-booking {
    padding-top: 11em;
    padding-bottom: 8em;
    background-color: var(--secondary-peach);
}

.booking-elements {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    padding: 2em 3em 3em;
    max-width: fit-content;
    border-radius: 16px;
    background-color: hsl(0 0% 100% / 0.5)
}

/* Styles asterisk for required fields */
.asterisk {
    color: red;
}

/* Styles text notifying users of required fields */
.required {
    color: var(--highlight-black);
}

/* Confirmation page */
.confirm-booking-elements {
    display: flex;
    flex-direction: column;
}

.confirm-text {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
}

.confirm-bg {
    display: flex;
    background: url("../assets/pasta.jpg") left no-repeat;
    padding: 5em 0 5em 2em;
}

.confirm-bg > h3 {
    /* This hsl value is equal to var(--primary-green) */
    background-color: hsl(162 13% 31% / 0.85);
    padding: 1rem;
}

.confirm-msg {
    color: #000000;
    font-style: italic;
    text-align: center;
}

.confirm-img {
    display: none;
}

/* Confirmation page media queries */
/* Large screens (> 992px) */
@media (min-width: 992px) {
    .confirm-booking-elements {
        row-gap: 6em;
    }

    .confirm-text {
        justify-content: center;
        flex-direction: row;
        column-gap: 1em;
    }

    .confirm-bg {
        background: none;
        padding: 0;
    }

    .confirm-bg > h3 {
        background-color: hsl(162 13% 31%);
        text-align: right;
    }

    .confirm-img {
        display: flex;
        justify-content: center;
    }
}

/* Input styling */
label {
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin: 0.3em;
}

select {
    font-family: Karla, sans-serif;
    font-size: 16pt;
    margin: 0.3em;
    background-color: var(--highlight-gray);
}

input {
    font-family: Karla, sans-serif;
    font-size: 16pt;
    margin: 0.3em;
}

input[type="range"] {
    margin: 0.7em 0.3em;
}

input:not([type="range"]) {
    background: linear-gradient(var(--secondary-salmon) 0 0) left 0% / 0% 100% no-repeat,
                var(--highlight-gray) left 0% / 100% 100% no-repeat;
    transition: background-size 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

input:not([type="range"]),
select {
    border: 1px solid var(--highlight-black);
    border-radius: 16px;
    padding: 0.25em 0.6em;
}

select:focus,
select:hover {
    background-color: var(--secondary-salmon);
}

input:focus {
    background-size: 100% 100%;
    outline: 3px solid transparent;
    box-shadow: 0 0 3px 1px var(--highlight-black);
}

/* Chromium, &c. */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--highlight-gray);
    width: 200px;
    transition: box-shadow 200ms ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* Necessary because Chrome offsets thumb position */
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background: url('../assets/Lemon.png');
    background-size: cover;
    border: none;
    filter: drop-shadow(2px 2px 3px var(--highlight-black));
}

input[type="range"]::-webkit-slider-runnable-track {
    /* Necessary because Chrome will make the track too big */
    height: 8px;
    border: 1px solid var(--highlight-black);
    border-radius: 4px;
    background: var(--primary-yellow);
}

/* Firefox */
input[type="range"] {
    appearance: none;
    background-color: var(--highlight-gray);
    width: 200px;
    height: 8px;
    border: 1px solid var(--highlight-black);
    border-radius: 4px;
    transition: box-shadow 200ms ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background: url('../assets/Lemon.png');
    background-size: cover;
    border: none;
    filter: drop-shadow(2px 2px 3px var(--highlight-black));
}

input[type="range"]::-moz-range-progress {
    border-radius: 4px;
    background-color: var(--primary-yellow);
}