@import '../App.css';

.footer-section {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--secondary-peach);
}

.footer-section img {
    max-width: 35em;
    width: 100%;
}

.footer-elements {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2em;
    align-items: center;
}

.footer-links {
    display: flex;
    column-gap: 3em;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.copyright-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

/* Media queries */
/* Small screens (<= 600px) */
@media (max-width: 600px) {
    .footer-links {
        flex-direction: column;
        row-gap: 1em;
        align-items: center;
        text-align: center;
    }
}

/* Large screens (> 1200px) */
@media (min-width: 1200px) {
    .footer-elements {
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
        column-gap: 3em;
    }
}