.footer-section {
    padding: 5em 0;
}

.footer-section img {
    max-width: 50em;
    width: 100%;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    width: 100%;
}

.footer-links {
    display: flex;
    column-gap: 3em;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
}