@import '../App.css';

.footer-section {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--secondary-peach);
}

.footer-section img {
    max-width: 40em;
    width: 100%;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    width: 100%;
}

.footer-links {
    display: flex;
    column-gap: 3em;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

/* Media queries */
/* Small screens (<= 600px) */
@media (max-width: 600px) {
    .footer-elements {
        flex-direction: column-reverse;
    }

    .footer-links {
        column-gap: 1.5em;
    }
}