@import '../App.css';

main.page-section {
    padding-top: 9em;
    padding-bottom: 1em;
    background-color: var(--primary-green);
}

.hero-elements {
    display: flex;
    justify-content: space-between;
    gap: 0 3cqi;
}

.hero-column {
    display: flex;
    flex-direction: column;
    gap: 2cqi 0;
}

.hero-column section {
    max-width: 30cqi;
}

.breakout-img {
    position: relative;
}

.breakout-img img {
    height: 25em;
    position: absolute;
    top: 0;
    right: 25%;
}