header {
    padding-block: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
}

/* Logo sizing */
.navbar img {
    width: 15em;
}

/* Container for the logo and link ul */
.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width-small-md);
}

/* Hide links behind hamburger menu icon for screens < 1200px */
button.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 70px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    padding: 0;
}

/* By default this is fill, but we want none to prevent image distortion */
.nav-elements > button > img {
    object-fit: none;
}

/* The ul that contains the links for screens > 1200px */
.nav-links {
    display: none;
}

/* Hamburger menu */
.hamburger-menu {
    display: flex;
    position: fixed;
    background-color: #ffffff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: right 200ms ease-in-out;
}

/* Prevents menu from flickering or appearing on initial page load */
.hamburger-menu.hidden {
    visibility: hidden;
}

.hamburger-menu.open {
    visibility: visible;
}

/* Hamburger menu's links */
.hamburger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.hamburger-menu li {
    padding: 1em 1em;
}

/* Media queries */
/* Large screens (>992px) */
@media (min-width: 992px) {
    .nav-elements {
        width: var(--content-width-large);
    }
}

/* Extra large screens (>1200px) */
@media (min-width: 1200px) {
    .nav-elements {
        width: var(--content-width-large);
    }

    .nav-elements > button {
        display: none;
    }

    .nav-links {
        display: flex;
        list-style: none;
        gap: 0 2cqi;
        padding-left: 0;
    }
}