@import '../App.css';

header {
    padding-block: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
}

/* Logo sizing */
.navbar img {
    width: 15em;
}

/* Container for the logo and link ul */
.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
}

/* The ul that contains the links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 0 2cqi;
    padding-left: 0;
}

/* Media queries */
/* Small screens (<= 600px) */
@media (max-width: 600px) {
    .nav-links {
        display: none;
    }
}