.specials {
    padding-top: 7em;
    padding-bottom: 7em;
}

.specials-elements {
    display: flex;
    flex-direction: column;
}

.specials-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials-cards {
    display: flex;
    justify-content: space-between;
}

/* Media queries */
/* Small screens (<= 600px) */
@media (max-width: 600px) {
    /* Stub */
}