.specials {
    padding-top: 7em;
    padding-bottom: 7em;
}

.specials-elements {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.specials-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media queries */
/* Small screens (<= 600px) */
@media (max-width: 600px) {
    .specials-row {
        flex-direction: column;
        row-gap: 1em;
    }

    .specials-elements {
        row-gap: 1em;
    }
}