.testimonials {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: var(--secondary-salmon);
}

.testimonials-elements {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.testimonials-row {
    display: flex;
    justify-content: center;
}

.testimonials-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
}