/* A wrapper that prevents wrapped content from touching screen edges */
.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

ul,
h1, h2, h3, h4 {
    margin: 0;
}

.page-section {
    width: 100;
}