@font-face {
    font-family: "Markazi Text";
    src: url('./fonts/MarkaziText-VariableFont_wght.woff');
}

@font-face {
    font-family: "Karla";
    src: url('./fonts/Karla-VariableFont_wght.woff');
}

:root {
    --primary-green: #495E57;
    --primary-yellow: #F4CE14;
    --secondary-salmon: #EE9972;
    --secondary-peach: #FBDABB;
    --highlight-gray: #EDEFEE;
    --highlight-black: #333333;
    --content-width-small-md: 90%;
    --content-width-large: 75%;
}

/* A modern best practice */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* A wrapper that prevents wrapped content from touching screen edges */
/* Default size applies for small and medium (< 992px) screens */
.content-wrapper {
    width: var(--content-width-small-md);
    margin: 0 auto;
}

@media (min-width: 992px) {
    .content-wrapper {
        width: var(--content-width-large);
    }
}

header,
.page-section {
    width: 100%;
}

/* Font styling */
ul,
p,
h1, h2, h3, h4  {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    line-height: 0.8em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--highlight-black);
    /* linear-gradient(color x-coord-begin y-coord-begin) */
    background: linear-gradient(var(--primary-yellow) 0 0) left 50% top 50% / 0% 100% no-repeat;
    transition: background-size 200ms ease-in-out;
}

a:hover {
    background-size: 100% 100%;
}

p {
    color: var(--highlight-gray);
}

p, a {
    font-family: Karla, sans-serif;
    font-size: 16pt;
    line-height: 1.5em;
}

p.home {
    font-size: 18pt;
    font-weight: 500;
}

p.copyright {
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
}

h1 {
    font-size: 50pt;
    color: var(--primary-yellow);
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 36pt;
    color: var(--highlight-gray);
}

h4 {
    font-size: 24pt;
}

/* Image styling */
img {
    border-radius: 16px;
}

img[class] {
    border-radius: 0;
}

/* Button styling */
button:not([class]) {
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 16px;
    outline: 5px solid var(--primary-yellow);
    outline-offset: -5px;
    font-family: Karla, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    padding: 0.5em 1em;
    letter-spacing: -1px;
    text-wrap: nowrap;
    transition: all 100ms ease-in-out;
}

button:not([class]):active,
button:not([class]):focus {
    background-color: var(--primary-green);
    color: var(--highlight-gray);
}

button:not([class]):disabled {
    background-color: var(--highlight-gray);
}

button:not([class]):disabled:active {
    color: var(--highlight-black);
    outline-color: hsl(0 80% 60%);
}